@font-face {
	font-family: 'mtc-icons';
	src:url('../fonts/mtc-icons.eot?27w724');
	src:url('../fonts/mtc-icons.eot?#iefix27w724') format('embedded-opentype'),
		url('../fonts/mtc-icons.woff?27w724') format('woff'),
		url('../fonts/mtc-icons.ttf?27w724') format('truetype'),
		url('../fonts/mtc-icons.svg?27w724#mtc-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mtc-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mtc-radio:before {
	content: "\e600";
}
.icon-mtc-sunroof:before {
	content: "\e601";
}
.icon-mtc-bluetooth:before {
	content: "\e602";
}
.icon-mtc-wipers:before {
	content: "\e603";
}
.icon-mtc-keyless-entry:before {
	content: "\e604";
}
.icon-mtc-gps-navigation:before {
	content: "\e605";
}
.icon-mtc-music:before {
	content: "\e606";
}
.icon-mtc-heated-seats:before {
	content: "\e607";
}
.icon-mtc-cruise-control:before {
	content: "\e608";
}
.icon-mtc-thermometer:before {
	content: "\e609";
}
.icon-mtc-map-marker:before {
	content: "\e60a";
}
.icon-mtc-wrench:before {
	content: "\e60b";
}
.icon-mtc-key-fob:before {
	content: "\e60c";
}
.icon-mtc-search:before {
	content: "\e60d";
}
.icon-mtc-clock:before {
	content: "\e60e";
}
.icon-mtc-play-video:before {
	content: "\e60f";
}
.icon-mtc-chevron-right:before {
	content: "\e610";
}
.icon-mtc-chevron-left:before {
	content: "\e611";
}
.icon-mtc-chevron-down:before {
	content: "\e612";
}
.icon-mtc-chevron-up:before {
	content: "\e613";
}
.icon-mtc-car-right:before {
	content: "\e614";
}
.icon-mtc-car-left:before {
	content: "\e615";
}
.icon-mtc-car-front:before {
	content: "\e616";
}
.icon-mtc-car-one-dollar:before {
	content: "\e617";
}
.icon-mtc-car-two-dollar:before {
	content: "\e618";
}
.icon-mtc-car-three-dollar:before {
	content: "\e619";
}
.icon-mtc-car-top:before {
	content: "\e61a";
}
.icon-mtc-plus-sign:before {
	content: "\e61b";
}
.icon-mtc-calculator:before {
	content: "\e61c";
}
.icon-mtc-circle-car:before {
	content: "\e61d";
}
.icon-mtc-radio2:before {
	content: "\e61e";
}

