ul.inlineBlock {
  list-style: none;
  li {
    @include inline-block; 
  }
}

 
span.bold {
  font-weight: 600 !important;
}

span.label {
  font-weight: 200 !important;
  letter-spacing: 1px !important;
}








